extends layout

block content
  .mw9.center.ph3-ns
    .cf.ph2-ns
      .fl.w-50.w-third-ns.pa4
        each tweet in tweets
          article.post.pb1
            .author
              a(href=tweet.source)
                img(src=tweet.author)
            p
              a(href=tweet.url) !{tweet.text.bold()}
            //p=tweet.description
      .fl.w-50.w-third-ns.pa3
        article
          each pic in pictures
            article.post
              .author
                a(href=pic.source)
                  img.contrib(src=pic.author)
              p.athletas.f3= pic.description
              - var url = pic.link
              img.w-100.f5.measure(src=url alt='Photo of outer space')
      .fl.w-40.w-third-ns.pa3
        p.athletas.music.tc Our Favorite Songs Right Now
        article.pa2
          img(src='/images/TOPSONGS.jpg')
          p.tc We love to share new songs that we find throughout the year. So we created a playlist to share our best picks.
          div.db.tc.relative
            a.f6.link.dim.ph3.pv2.dib.white.bg-black(href='https://open.spotify.com/playlist/53SJ6SSjNYgJQftjhBk3Er?si=1RTPAGMoRU-bET9OMXBbXQ') Listen
        //- article.pa1.contrib
        //-   p Contributors
        //-   p
        //-     a(href='https://twitter.com/tmytrn') @tmytrn
        //-   p
        //-     a(href='https://twitter.com/g3ni3w33ni3') @g3ni3w33i3
        //-   p
        //-     a(href='https://twitter.com/bensiordia') @bensiordia
        //-   p
        //-     a(href='https://twitter.com/writerdudejoe') @writedudejoe 



          
        
        
        
