extends layout

block content
  .mw9.center.ph3-ns
    .cf.ph2-ns
      .fl.w-100.w-third-ns.pa2
        each tweet in tweets
          p
            a(href=tweet.url) !{tweet.text.bold()}
            //img(src=tweet.image)
            p=tweet.description
      .fl.w-50.w-third-ns.pa2
        article.pa2
          each pic in pictures
            h2.f3= pic.description
            - var url = pic.link
            img.w-100.f5.measure(src=url alt='Photo of outer space')
      .fl.w-50.w-third-ns.pa2
        article.pa2


          
        
        
        
