extends layout

block content
  .mw9.center.ph3-ns
    .cf.ph2-ns
      .fl.w-50.w-third-ns.pa4
        each tweet in tweets
          article.post.pb1
            .author
              a(href=tweet.source)
                img(src=tweet.author)
            p.headline
              a(href=tweet.url) !{tweet.text}
                
            //- a.preview(href=previews.url)
            //-   .entity-image
            //-     figure
            //-       img(src=previews.image)
            //-   .title
            //-     f3=previews.title
            //-   .description
            //-     p=previews.description

            //p=tweet.description
      .fl.w-50.w-third-ns.pa3
        article
          each pic in pictures
            article.post
              .author
                a(href=pic.source)
                  img.contrib(src=pic.author)
              p.athletas.f3.pic-post= pic.description
              - var url = pic.link
              img.w-100.f5.measure(src=url alt='Photo of outer space')
      .fl.w-40.w-third-ns.pa3
        p.athletas.music.tc Our Favorite Songs Right Now
        article.pa2.songs
          img(src='/images/TOPSONGS.jpg')
          p.tc We love to share new songs that we find throughout the year. So we created a playlist to share our best picks.
          div.db.tc.relative
            a.f6.link.dim.ph3.pv2.dib.white.bg-black(href='https://open.spotify.com/playlist/53SJ6SSjNYgJQftjhBk3Er?si=1RTPAGMoRU-bET9OMXBbXQ') Listen
        p.athletas This website is inspired by 
          a.link.athletas(href="publicannouncement.org") publicannouncement.org
        
          
  .overlay
  
  script(src='/scripts/index.js')








