extends layout

block content
  .w-100.center
    .cf
      .fl.w-50.w-30-ns.pr5
        each tweet in tweets
          article.post
            .author
              a(href=tweet.source)
                img(src=tweet.author)
            p.f6.f5-l.mt0.link
              a(href=tweet.url) !{tweet.text}
                
            //- a.preview(href=previews.url)
            //-   .entity-image
            //-     figure
            //-       img(src=previews.image)
            //-   .title
            //-     f3=previews.title
            //-   .description
            //-     p=previews.description

            //p=tweet.description
      .fl.w-50.w-40-ns
        article
          each pic in pictures
            article.post
              - var url = pic.link
              img.w-100(src=url)
              .auth.inline-flex
                a(href=pic.source)
                  img.contrib(src=pic.author)
                //- p.mt0.mb5= pic.screen_name
                p.f3.f2-l.mt0.mb5.pic-post= pic.description
      .fl.w-50.w-30-ns
        article.pl5
          img(src='/images/TOPSONGS.jpg')
          a(href='https://open.spotify.com/playlist/53SJ6SSjNYgJQftjhBk3Er?si=0WSsL9TiTW6jHqtAinXT3Q')
            p.f4.f3-l.link Our Favorite Songs Right Now
          p We love to share new songs that we find throughout the year. So we created a playlist to share our best picks.
        article.pl5
          img.w-100(src='/images/TOMFM.jpg')
          a(href='https://open.spotify.com/playlist/6PsQP9dajUFhDfJCDVpAup?si=_uFfy8P8SsK92WFALrimyw')
            p.f4.f3-l.link TOM FM 102.3
          p ONLY THE HITS. Playlist for driving around LA.

         
        
          
  .overlay
  
  script(src='/scripts/index.js')








