extends layout

block content
  .mw8.center.pt5.bt.mt5
    .cf
      .fl.w-50.w-30-ns
        each tweet in tweets
          article.post.pr3.mb3
            //- img.w5(src=tweet.image)
            .author
              a(href=tweet.source)
                img(src=tweet.author)
            p.f6.f5-l.mv0.link
              a(href=tweet.url) !{tweet.text}
            p.f7.mt0.gray= tweet.display_url

      .fl.w-50.w-40-ns
        each pic in pictures
          article.post.pr3.mb5
            - var url = pic.link
            img.w-100(src=url)
            .w-100.di
              a(href=pic.source).w-10.fl
                img.w2.br-100.contrib(src=pic.author)

              p.w-90.f4.f3-l.fw6.mt0.pl3.pic-post= pic.description

      .fl.w-50.w-30-ns
        article.pl1
          a.link.dt.w-100.bb.b--black-10.pb2.mt2.dim.blue(href='https://open.spotify.com/playlist/53SJ6SSjNYgJQftjhBk3Er?si=LAiY9oXeS0SNYLEztQhHkw')
            .dtc.w3
              img.db.w-100(src='/images/TOPSONGS.jpg')
            .dtc.v-top.pl2
              h1.f6.f5-ns.fw6.lh-title.black.mv0 Our Favorite Songs Right Now
              h2.f6.fw4.mt2.mb0.black-60  We love to share new songs that we find throughout the year. So we created a playlist to share our best picks.

        article.pl1
          a.link.dt.w-100.bb.b--black-10.pb2.mt2.dim.blue(href='https://open.spotify.com/playlist/6PsQP9dajUFhDfJCDVpAup?si=_uFfy8P8SsK92WFALrimyw')
            .dtc.w3
              img.db.w-100(src='/images/TOMFM.jpg')
            .dtc.v-top.pl2
              h1.f6.f5-ns.fw6.lh-title.black.mv0 TOM FM 102.3
              h2.f6.fw4.mt2.mb0.black-60 ONLY THE HITS. Playlist for driving around LA.
  
  script(src='/scripts/index.js')








